<footer>
   <a class="rodape" href="https://www.linkedin.com/in/raphael-johny-93a331213/"> <p>Linkedin</p> </a>
   <p>Todos os direitos reservados</p>
   <a class="rodape" href="https://github.com/qualose123"><p>GitHub</p></a>
    
</footer>