<header>
  <img id="logo" src="/img/logo.png" alt="logo" />
  <nav id="menu">
    <ul id="dropdown-menu">
      <div class="dropdown-menu-icon"><i class="fa-solid fa-bars"></i></div>
      <div class="dropdown-menu-conteudo">
        <a>
          <li><i class="fa-solid fa-house-chimney fa-1x"></i>Home</li></a
        >
        <a>
          <li><i class="fa-solid fa-file-pen"></i>Criar</li>
        </a>
        <a><li>Editar</li></a>
      </div>
    </ul>
  </nav>
</header>
