<header>
  <nav>
    <ul>
      <li><img id="logo" src="/img/logo.png" alt="logo"></li>
      <a> <li><i class="fa-solid fa-house-chimney fa-1x"></i>Home</li></a>
      <a> <li><i class="fa-solid fa-file-pen"></i>Criar</li> </a>
      <a><li>Editar</li></a>
    </ul>
  </nav>
 
</header>