 <!-- <section>
      <div>
        <form method="post" action="/cadastro">
          <fieldset id="field_main">
            <legend>Cadastro</legend>
            <fieldset>
              <input
                type="text"
                name=" nome_filme"
                placeholder="Digite o nome do Filme"
                required
              />
              <label for=" nome_filme"> nome </label>
            </fieldset>

            <fieldset>
              <input
                type="text"
                name="nome_autores"
                placeholder="Digite o nome dos autores"
                required
              />
              <label for="nome_autores">  Autores </label>
            </fieldset>

            <fieldset>
              <input
                type="text"
                name="nome_atores"
                placeholder="Digite o nome dos atores"
                required
              />
              <label for="nome_atores"> Atores </label>
            </fieldset>

            <fieldset>
              <input
                type="url"
                name="imagem"
                placeholder="Link da imagem do filme"
                required
              />
              <label for="imagem">Capa/poster </label>
            </fieldset>

            <fieldset>
              <input
                type="text"
                name="ano_filme"
                placeholder="Digite o ano de lançamento do filme"
                required
              />
              <label for="ano_filme"> Ano </label>
            </fieldset>

            <fieldset>
              <input
                type="text"
                name="iframe"
                placeholder="Digite o iframe do filme(do youtube por Ex.) "
                required
              />
              <label for="iframe"> Iframe </label>
            </fieldset>
            <button id="env_cadastro" type="submit">Enviar</button>
          </fieldset>
        </form>
      </div>
     </section>
    </main>