<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Criar</title>
</head>
<body>
  <%-include('./partials/header.ejs')%>

  <main>
    <section id="form_container">
      <form method="post" action="/cadastro">
        <fieldset>
        <legend class="legendc">Cadastrar Filme</legend>
        <fieldset class="fieldset_data">
        <input type="text" name="nome_filme" required>
        <label for="nome_filme">Nome Filme</label>
      </fieldset>

      <fieldset class="fieldset_data">
        <input type="text" name="nome_autores" required>
        <label for="nome_autores">Nome Autores</label>
      </fieldset>

      <fieldset class="fieldset_data">
        <input type="text" name="nome_atores" required>
        <label for="nome_atores">Nome Atores</label>
      </fieldset>
      <fieldset>
        <fieldset class="fieldset_data">
        <input type="number" name="ano_filme" required>
        <label for="ano_filme">Ano lançamento</label>
      </fieldset>

      <fieldset class="fieldset_data">
        <input type="url" name="imagem" required>
        <label for="imagem">Imagem/Capa do Filme</label>
      </fieldset>

      <fieldset class="fieldset_data">
        <input type="text" name="iframe" required>
        <label for="iframe">Iframe/Trailer do filme</label>
      </fieldset>
          <div id="btn-container">
            <button type="submit" id="btn-cadastro"> Enviar</button>
          </div>
      </fieldset>
      </form>
    </section>
  </main>

  <%-include('./partials/footer.ejs')%>
</body>
</html>