<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Detalhes</title>
  </head>
  <body>
    <%-include('./partials/header.ejs')%>
    <main>
      <div><%=filmesDetalhes.nome_filme%></div>
      <section id="section_container">
        <div id="iframefilme">
        <iframe  <%=filmesDetalhes.iframe %>></iframe>
        </div>
        <table>
          <thead>
            <th>Detalhes</th>
          </thead>
          <tbody>
            <td>
              <tr>
                Filme
              </tr>
              <tr>
                <%filmesDetalhes.nome%>
              </tr>
            </td>
          </tbody>
          <tfoot></tfoot>
        </table>
      </section>
    </main>
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
